*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
background-color:rgb(198, 198, 198);
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
gap: 20px;
}
button{
color:black;
background-color:rgb(255, 255, 255);
border: none;
border: 3px solid black;
padding: 10px 10px 10px 10px;
border-radius: 999px;
transition: 250ms all linear;
font-size: 20px;
}
button:hover{
cursor:pointer;
color: aliceblue;
border: 3px solid #ffffff;
background-color: rgb(0, 0, 0);
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,rgba(0, 0, 0, 0.12) 0px -12px 30px,
 rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
 rgba(0, 0, 0, 0.09) 0px -3px 5px;
}